<a href="https://colab.research.google.com/github/drpietech/sandbox/blob/main/SQLPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice SQL

In [1]:
# Import the sqlite3 library
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Create a table named 'stocks' with columns (date, trans, symbol, qty, price)
c = conn.cursor()
c.execute('''
    CREATE TABLE stocks (
        date text,
        trans text,
        symbol text,
        qty real,
        price real
    )
''')

# Insert data into the 'stocks' table
c.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'ABC', 100, 35.14)")
conn.commit()

# Execute a SQL SELECT statement to query the database
c.execute("SELECT * FROM stocks WHERE trans='BUY'")
results = c.fetchall()
print(results)

[('2006-01-05', 'BUY', 'ABC', 100.0, 35.14)]